/* 
Author: Diego Velez
Author URL: softworldcolombia.com
*/

.tituloModal{
	text-align: center;
}
.tituloModal h3{
	padding-bottom: 20px;
	padding-top:20px;
}

.contenedorBotones{
	margin-top:20px;
	margin-bottom: 30px !important;
}



.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}


.estrellas_label{
  color: #FCA311;
    font-size: 50px !important;
}

.boton-alerta{
	position: fixed !important;
	top: 70px;
	width: 550px;
	right: 20px;
	z-index: 9999999999999999 !important;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #db0007;
  -webkit-box-shadow: 2px 2px 9px 2px rgba(255,0,4,0.59) ;
  box-shadow: 2px 2px 9px 2px rgba(255,0,4,0.59) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}


.title-update{
	 display: inline-block !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  cursor: pointer !important;
  padding: 10px 20px !important;
  border: none !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
  font: normal 16px/normal Arial, Helvetica, sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  -o-text-overflow: clip !important;
  text-overflow: clip !important;
  background: rgba(0,163,0,1) !important;
  -webkit-box-shadow: 2px 2px 9px 2px rgba(0,163,0,0.56) !important ;
  box-shadow: 2px 2px 9px 2px rgba(0,163,0,0.56) !important ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) !important ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;
}
.update-plan{
	margin-top: 20px;
	margin-left: 25px;
	  display: inline-block !important;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  cursor: pointer !important;
  padding: 10px 20px !important;
  border: none !important;
  -webkit-border-radius: 10px !important;
  border-radius: 10px !important;
  font: normal 16px/normal Arial, Helvetica, sans-serif !important;
  color: rgba(255,255,255,0.9) !important;
  -o-text-overflow: clip !important;
  text-overflow: clip !important;
  background: rgba(0,163,0,1) !important;
  -webkit-box-shadow: 2px 2px 9px 2px rgba(0,163,0,0.56) !important ;
  box-shadow: 2px 2px 9px 2px rgba(0,163,0,0.56) !important ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) !important ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) !important;

}


#fecha, #cantidad, #personalizado{
  display: none;
}

/* spinner */

.spinner{
  border: 4px solid white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left-color: #09f;
  margin: auto;

  animation: spin 1s ease infinite;
}

@keyframes spin{
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}